@import url("https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap"); /* 'Yusei Magic' for titles*/
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap"); /* 'Poppins as main font*/
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap"); /* 'Varela Round' (note used as of now)*/
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap"); /* Nunito (not used as of now)*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap"); /* 'Noto Sans JP' (note used as of now)*/

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
  background-image: url(images/background_back.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  color: rgba(243, 244, 246, 1);
}

.language {
  height: 0px;
  text-align: end;
  position: relative;
  top: -18px;
  right: 3px;
}
.language img {
  width: 40px;
  position: relative;
  top: 15px;
}

/*HEADER : TITLE AND SMO-LINKS*/

header {
  background-color: rgba(50, 50, 50, 0.8);
  display: flex;
  padding: 30px 30px 20px 15px;
  border-bottom: 2px solid rgba(243, 244, 246, 0.9);
  justify-content: space-between;
}
header h1 {
  vertical-align: bottom;
  font-family: "Yusei Magic", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  font-size: 2.1rem;
}
.socialmedia a {
  text-decoration: none;
  color: rgba(243, 244, 246, 0.92);
  font-size: 1.7rem;
  margin-left: 5px;
  margin-right: 5px;
  position: relative;
  top: 8px;
  left: 20px;
}
.socialmedia .nonactive {
  color: rgba(243, 244, 246, 0.1);
}

/*NAVIGATION MENU*/

.current {
  background-color: rgba(160, 3, 3, 0.45);
}
nav ul {
  display: flex;
  font-size: 1.3em;
  list-style-type: none;
  justify-content: center;
  text-transform: uppercase;
}
nav ul li {
  margin: 15px;
  margin-top: 75px;
}
nav ul li a {
  text-decoration: none;
  color: rgba(243, 244, 246, 1);
  font-family: "Yusei Magic", Helvetica, Arial, sans-serif;
  padding: 5px 20px 5px 20px;
  margin: 0 7px 0 7px;
  border: 2px solid rgba(243, 244, 246, 1);
  border-radius: 0.2rem;
}
nav ul li a:hover {
  text-decoration: none;
  color: rgba(7, 6, 5, 1);
  padding: 5px 20px 5px 20px;
  border: 2px solid rgba(243, 244, 246, 1);
  background-color: rgba(243, 244, 246, 0.9);
  border-radius: 0.2rem;
  transition: 0.7s ease;
}

/*INTRODUCTION TEXT*/

.introduction {
  max-width: 850px;
  margin: auto;
  margin-top: 110px;
  margin-bottom: 15px;
  background-color: rgba(243, 244, 246, 0);
  border: 0.5px solid rgba(243, 244, 246, 0);
  border-radius: 1.4rem;
  padding: 10px 5px 15px 5px;
}
.introduction h2 {
  font-size: 2.2rem;
  margin-bottom: 25px;
  text-align: center;
  font-family: "Yusei Magic", Helvetica, Arial, sans-serif;
  font-weight: lighter;
}
.introduction_text {
  text-align: center;
  font-size: 1.1rem;
}
.arrow_down {
  font-size: 2.4rem;
  color: rgba(243, 244, 246, 0.79);
  text-align: center;
  margin-top: 75px;
}

/*LINKS TOWARDS ARTICLES END OF PAGE*/

.découvrez_bloc {
  margin: 105px 30px 0 30px;
}
.découvrez_bloc h2 {
  font-size: 2.3rem;
  font-family: "Yusei Magic", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  margin-bottom: 85px;
  text-align: center;
  background-color: rgba(50, 50, 50, 0.4);
  border-top: 2px solid rgba(243, 244, 246, 0.8);
  box-shadow: 0px 8px 10px rgba(50, 50, 50, 0.6);
}
.lienscontenu {
  display: flex;
  justify-content: space-around;
}

.bloc_article {
  display: flex;
  text-align: left;
  margin: 0 5px 0 5px;
}

.bloc_article_text h3 {
  margin-top: 2px;
  font-family: "Yusei Magic", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  font-size: 1rem;
  text-decoration: underline;
  text-transform: uppercase;
}
.bloc_article_text p {
  margin-top: 5px;
}
.bloc_article a {
  text-decoration: none;
}
.bloc_article_text {
  margin-right: 10px;
  text-align: left;
  font-size: 0.9rem;
}
.lire_la_suite {
  margin-top: 10px;
  text-align: right;
}
.lire_la_suite a {
  text-decoration: none;
  color: rgba(243, 244, 246, 1);
  background-color: rgba(160, 3, 3, 0.8);
  display: inline-block;
  padding: 0 5px 5px 5px;
  border-radius: 3rem;
  border: 1px solid rgba(200, 3, 3, 0.8);
}

.bloc_article_image {
  align-items: center;
}
.bloc_article_image img {
  height: 145px;
  border: 2px solid rgba(243, 244, 246, 0.8);
}

/*FOOTER*/

.footer {
  margin-top: 250px;
  padding: 10px 20px 10px 10px;
  font-size: 0.8rem;
  background-color: rgba(50, 50, 50, 0.8);
  border-top: 2px solid rgba(243, 244, 246, 0.9);
  text-align: right;
}
